@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
};

.features-section { 
    position: 'absolute';
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    z-index: 2;
};

.features-section .active{
    right: 300px;
};

.features-section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
};

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    mix-blend-mode: overlay;
};

.text h2
{
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

.text h3
{
  font-weight: 300;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

.text p
{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}

.text a:hover
{
  letter-spacing: 6px;
}
